@model Web.Viewmodels.Themes.SuggestedThemeListViewModel

@{
ViewData["Title"] = "Список предложенных тем";
}

<div class="container mt-5">
    <h1 class="mb-4">Список предложенных тем</h1>
    <a asp-action="Edit" asp-controller="SuggestedTheme" class="btn btn-primary mb-3">Предложить новую тему</a>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Тема</th>
            <th>Ключевые слова</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var theme in Model.SuggestedThemeListDtos)
        {
        <tr>
            <td>@theme.Id</td>
            <td>@theme.Text</td>
            <td>
                @foreach (var keyword in theme.KeyWords)
                {
                <span>@keyword.Word</span><br />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@theme.Id" class="btn btn-warning">Редактировать</a>
                <form asp-action="Delete" asp-route-id="@theme.Id" method="post" class="d-inline">
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>
